* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 2rem auto;
}

nav .heart {
  font-size: 40px;
}

.grid-container {
  width: 90%;
  margin: 0 auto;
}

.App {
  width: 90%;
  margin: 0 auto;
}

.App input {
  height: 40px;
  outline: none;
  border-radius: 6px;
  padding: 7px;
  font-size: 1.3rem;
  width: 100%;
  display: flex;
  margin: 0 auto;
  border: none;
  box-shadow: 0px 2px 13px #1f1b1b;
}

.searchbar-container {
  min-width: 50%;
  max-width: 860px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 17px;
}

.searchbar {
  width: 100%;
}

.searchbar-button button {
  font-weight: 700;
  background-color: #282c34;
  border-radius: 6px;
  color: #fafafa;
  height: 40px;
  border: 1px solid #fafafa;
  padding: 10px;
  transition: color 0.3s, background-color 0.3s;
}

.searchbar-button button:hover {
  color: #282c34;
  background-color: #fafafa;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.pokedex-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 10px;
}

.pokemon-card {
  border: 1px solid #fafafa;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  padding: 20px;
  border-radius: 6px;
  background: #282c34;
box-shadow:  18px 18px 35px #22252c,
             -18px -18px 35px #2e333c;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;

}

.pokemon-card:hover {
  background-color: #fafafa;
  color: #282c34;
}

.pokemon-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}
.pokemon-img img {
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.card-top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-top h3 {
  text-transform: capitalize;
  order: 1;
}

.card-top span {
  order: 0;
}

.card-bottom {
  width: 170px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.pokemon-favorite {
  color: #ff3636;
  text-align: center;
  outline: 1px solid #fafafa;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  transition: color 0.3s, background-color 0.3s;
}

.pokemon-favorite:hover {
  color: #282c34;
  background-color: #ff2a2a;
}

.pokemon-not-favorite {
  color: #282c34;
  text-align: center;
  background-color: #fafafa;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  transition: color 0.3s, background-color 0.3s;
}

.pokemon-type {
  display: flex;
  gap: 5px;
  text-transform: capitalize;
}

.pokemon-not-favorite:hover {
  color: #ff2a2a;
  background-color: #282c34;
}

.grass {
  background-color: #4a9681;
}

.types-text {
  /* font-family:'Courier New', Courier, monospace; */
  font-size: 14px;
  font-weight: bold;
  padding: 3px;
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.pagination-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.pagination-container button {
  color: #282c34;
  background-color: #fafafa;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
  cursor: pointer;
}

.pokemon-stats {
  width: 80%;
  margin: 0 auto;
  background-color: #1f1b1b96;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 0 20px 0;
}

.pokemon-stats h4 {
  font-size: 1.3rem;
}

.pagination-container button:hover {
  color: #fafafa;
  background-color: #282c34;
  border: 2px solid #fafafa;
}

.pokemon-stats-top {
  width: 100%;
  height: 40px;
  font-size: 1.5rem;
  background-color: #1f1b1b6b;
}

.stats-poke-name {
  margin: auto;
  justify-self: center;
  font-size: 1.3rem;
  font-weight: 100;
}

.stats-poke-name::after {
  content: "";
  background-color: #1f1b1b;
  width: 40px;
  height: 30px;
  z-index: 10;
}

.show-stats::before {
  content: "";
  height: 100vh;
  position: absolute;
  top: 0;
  right: 100%;
  width: 100vw;
  transition: all 0.3s linear;
  background-color: rgb(0, 0, 0);
  animation-name: changeColor;
  animation-duration: 0.5s;
  opacity: 0.3;
  z-index: 1;
}

.close-icon {
  cursor: pointer;
  position: absolute;
  top: 7px;
  left: 7px;
  transition: color 0.3s;
}
.close-icon:hover {
  color: #fafafa60;
}

.close-stats {
  transform: translateX(100%);
}

.show-stats {
  transform: translateX(0%);
}

.pokemon-stats-container {
  /* transform: translateX(0%); */
  color: #fafafa;
  display: flex;
  flex-direction: column;
  font-family: "Overpass Mono", monospace;
  gap: 10px;
  height: 100%;
  height: 100%;
  max-width: 500px;
  max-width: 700px;
  position: fixed;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 50vw;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

pokemon-stats-container-empty {
  transform: translateX(0%);
  color: #fafafa;
  display: flex;
  flex-direction: column;
  font-family: "Overpass Mono", monospace;
  gap: 10px;
  height: 100%;
  height: 100%;
  max-width: 500px;
  max-width: 700px;
  position: fixed;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 50vw;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.pokemon-stats-container .pokemon-stats-img-container {
  margin: 0 auto;
  background-color: #444;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.pokemon-stats-container .pokemon-stats-img-container img {
  width: 100%;
}

.stats-row-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  width: 75%;
  font-size: 20px;
}

.stats-row {
  display: flex;
  justify-content: space-between;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  height: 500px;
}

.loader-container {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  background: #282c34;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 700px) {
  .pokedex-grid {
    margin-bottom: 70px;
  }

  .pagination-container {
    display: flex;
    gap: 20px;
    position: fixed;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0px;
    /* text-align: center; */
    width: 100%;
    background: #22252c81;
    padding: 20px;
  }
}
